In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Resto.csv', encoding= 'unicode_escape')

In [3]:
#  Identify the city with the highest number of restaurants in the dataset.
top_city = df['City'].value_counts().idxmax()
restaurant_count = df['City'].value_counts().max()
print(f"The city with the highest number of restaurants is: {top_city} ({restaurant_count} restaurants)")

The city with the highest number of restaurants is: New Delhi (5473 restaurants)

In [4]:
#  Calculate the average rating for restaurants in each city
Avg_rating = df.groupby('City')['Aggregate rating'].mean()

In [5]:
print(Avg_rating)

City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
ï¿½ï¿½stanbul      4.292857
Name: Aggregate rating, Length: 141, dtype: float64

In [6]:
#  Determine the city with the highest average rating
top_avg_city = Avg_rating.idxmax()
top_avg_rating = Avg_rating.max()
print(f"The city with the highest average restaurant rating is: {top_avg_city} ({top_avg_rating:.2f})")

The city with the highest average restaurant rating is: Inner City (4.90)